html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
}

body {
  margin-bottom: 60px;
  background-color: rgb(66, 66, 66);
}

#topnav{
  background-image: linear-gradient(rgb(42, 42, 42), rgb(42, 42, 42));
  border-bottom: 1px solid rgb(255, 184, 118);
}

footer{
  text-align: center; 
  height: 10px;
  background-image: linear-gradient(rgb(42, 42, 42), rgb(42, 42, 42));
  border-top: 1px solid rgb(255, 184, 118);
  color: rgb(251, 137, 23);
}