@page "{id}"
@model BeansBurgers_v2.Pages.EditEmployeeModel
@{
}
@foreach(var user in Model.Users){
    if(user.Id == Model.Id){
        <form method="post" asp-asp-page="/Customize"> 
            <div class="columns">
                <div class="column">
                    <input type="text" name="username" value="@user.UserName"/>
                </div>
                <div class="column">
                    <input type="tel" name="phone" value="@user.PhoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890" />
                </div>
                <div class="column">
                    <input type="email" name="email" value="@user.Email"/>
                </div>
                <div class="column">
                    <input type="submit" value="Save Changes" />
                </div>
            </div>
        </form>
    }
}
